<div class="checkoutCartProductsContainer">
  <h3><span>{{products?.length}}</span> productos</h3>
  <div class="productsListContainer">
    <div class="product" *ngFor="let product of products">
      <button mat-button>
        <div class="buttonInner">
          <div class="imageContainer">
            <img [src]="product.image" [alt]="product.name">
          </div>
          <div class="productInfo">
            <h4>{{product.name}}</h4>
            <h4>{{product.cost | currency}}</h4>
          </div>
        </div>
      </button>
      <div class="productQuantity">
        <h2>x {{product.quantity}}</h2>
      </div>
      <a mat-icon-button>
        <mat-icon>delete</mat-icon>
      </a>
    </div>
  </div>
</div>
